<!-- About Section -->
<section id="about" class="pad8y contain page">
  <div class="limiter clearfix pad4y">
    <div class="col8 clearfix space-bottom2 contain">
      <div class="col10 margin2r space-bottom2">
        <h1 class="space-bottom2">YouthMappers Bangladesh Summit 2025</h1>
        <p>YouthMappers Bangladesh Summit is the annual event for all mappers and OpenStreetMap users. In 2025 the
          YouthMappers Bangladesh Summit will be a two day on-site summit taking place in Patuakhali Science and
          Technology University, Patuakhali.
        </p>
        <p>The local team is committed to providing participants with a safe conference environment in accordance with
          the latest safety and health guidelines set by authorities.</p><br>
        <p>Organising team of </p>
        <p class="logo">
          <img src="img/logo/ym_bd_summit_2025-logo.png" style="width:50%;">
        </p>
      </div>
    </div>
    <div class="col4 clearfix contain">
      <h3 class="small-title uppercase">Where?</h3>
      <p>
        <a href="venue">Patuakhali Science and Technology University, Patuakhali, Bangladesh.</a>
      </p>

      <h3 class="small-title uppercase">When?</h3>
      <p>
        August 22 - 23, 2025
      </p>

      <!-- <h3 class="small-title uppercase"><a href="events">Social Event</a></h3>
      <p>
        On Saturday, August 20 at <a href="https://www.mercatocentrale.com/florence/">Mercato&nbsp;Centrale</a> (<a
          href="https://www.openstreetmap.org/?mlat=43.7766&mlon=11.2532#map=16/43.7766/11.2532">location</a>)
      </p>

      <h3 class="small-title uppercase">Additional Events</h3>
      <ul>
        <li>Friday, August 19: <a href="https://unsummit.hotosm.org/">HOT unSummit at SotM</a></li>
        <li>Friday, August 19 (evening): <a href="https://forms.gle/MK89amh4zG5hKFdy7">HOT unSummit Social at SotM</a>
        </li>
        <li>Monday, August 22: <a href="https://mobilizon.it/events/5a84127d-120c-4a83-a563-5721260c862b">YouthMappers
            Documentary Premiere</a></li>
      </ul> -->

      <h3 class="small-title uppercase" style="height:0">&nbsp;</h3>
      <p>
        <a href="https://pstu-youthmappers.github.io"><img src="img/logo/ym_pstu-logo.jpg"
            style="height:85px; margin-top:20px;" /></a>
      </p>
      <p>
        <a href="https://www.facebook.com/groups/2923232317707849/"><img src="img/logo/ym_bd-logo.svg"
            style="height:85px; margin-top:20px;" /></a>
      </p>
      <p>
        <a href="https://www.youthmappers.org"><img src="img/logo/ym-logo.jpg"
            style="height:85px; margin-top:20px;" /></a>
      </p>

      <!-- <p>
        <a href="https://wiki.wikimedia.it/"><img src="img/wikimedia-italia.png"
            style="height:85px; margin-top:20px;" /></a>
      </p> -->
    </div>
  </div>
</section>